<!-- NAV -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{tituloSetor}}</a>
      <a class="btn btn-primary" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nav>
  <!-- List -->
  <div class="container">
    
    <p style="padding: 2rem;">
      {{textoTelaInicial}}
    </p>
  
    
        <p class="h3" style="text-align: center;">Alguns números</p>
    
    

        <div class="grid" style="display: flex; flex-direction: row; text-align: center; padding: 1rem; justify-content: center;" > 
            <div class="grid" style="text-align: center; justify-content: center; flex-direction: row; padding: 1rem;">
            @for (item of numerosAtividades; track item.id) {
                <div class="card" style="width: 18rem; margin: 1rem;">
                    <h4 class="card-header">{{item.id}} </h4>
                  <div class="card-body">
                    <h1 class="card-text">{{item.valor}}</h1>
                  </div>
                </div>
            }
        </div>
        </div>
    
        <p class="h3" style="text-align: center;"> Serviços</p>
     
    
  <!-- CARDS DE SERVIÇOS -->
  <div class="grid" style="display: flex; flex-direction: row; text-align: center; padding: 1rem; justify-content: center;">
    <div class="grid" style="text-align: center; justify-content: center; flex-direction: row; padding: 1rem;">
        @for (item of servicos; track item.id) {
            <div class="card" style="width: 18rem; margin: 1rem;">
            <h4 class="card-header">{{item.id}}</h4>
            <div class="card-body">
                <p class="card-text">{{item.valor}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
        }
    </div>
  </div>
  
  <p class="h3" style="text-align: center;">Equipe</p>
  

    <!-- CARDS DE EQUIPES -->
    <div class="grid" style="display: flex; text-align: center; flex-direction: row; justify-content: center;">
       <div class="grid" style="text-align: center; justify-content: center; flex-direction: row; padding: 1rem;">
            @for (item of equipe; track item) {
                <div class="card" style="width: 18rem; margin: 1rem;">
                    <h4 class="card-header">Card title</h4>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            }
        </div>
    </div>



  

  
  </div>
  


  <footer class="sticky-footer bg-light" style="padding: 1rem;">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Equipe Técnica - Núcleo Universitário de Telessaúde</span>
      </div>
    </div>
  </footer>