
<!-- NAV -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Núcleo Universitário de Telessaúde</a>
    <a class="btn btn-primary" href="#">Login</a>
  </div>
</nav>
<!-- List -->
<div class="container">
  
  <p style="padding: 2rem;">aqui shsdfg gfs ufsjk dgjkhd kfdgkhgfd k dgkjdfkg kdgjkdgkfdhkjghdfk kjhgdjfk gkdfhk gkdgkd kjg hdkjgdkgkd  djkfgkdjf gkd gkkgkdgkjdkjh 
    gifdhjghfdkjghfdkjhgdfkjhgkfdj gfkjdhgkjfhglk
    dighdkjhgkj  j j dighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  
    j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j j
    aqui shsdfg gfs ufsjk dgjkhd kfdgkhgfd k dgkjdfkg kdgjkdgkfdhkjghdfk kjhgdjfk gkdfhk gkdgkd kjg hdkjgdkgkd  djkfgkdjf gkd gkkgkdgkjdkjh 
    gifdhjghfdkjghfdkjhgdfkjhgkfdj gfkjdhgkjfhglk
    dighdkjhgkj  j j dighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  
    j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j j
    aqui shsdfg gfs ufsjk dgjkhd kfdgkhgfd k dgkjdfkg kdgjkdgkfdhkjghdfk kjhgdjfk gkdfhk gkdgkd kjg hdkjgdkgkd  djkfgkdjf gkd gkkgkdgkjdkjh 
    gifdhjghfdkjghfdkjhgdfkjhgkfdj gfkjdhgkjfhglk
    dighdkjhgkj  j j dighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  
    j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j j
    aqui shsdfg gfs ufsjk dgjkhd kfdgkhgfd k dgkjdfkg kdgjkdgkfdhkjghdfk kjhgdjfk gkdfhk gkdgkd kjg hdkjgdkgkd  djkfgkdjf gkd gkkgkdgkjdkjh 
    gifdhjghfdkjghfdkjhgdfkjhgkfdj gfkjdhgkjfhglk
    dighdkjhgkj  j j dighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  
    j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j jdighdkjhgkj  j j
  </p>

  
      <p class="h2" style="text-align: center;">Alguns números</p>
  


  <div style="display: flex; flex-direction: row; text-align: center; padding: 2rem; justify-content: center;">
    <div class="card" style="width: 18rem; margin: 1rem;">
        <h4 class="card-header">Card title</h4>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1rem;">
      <h4 class="card-header">Card title</h4>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1rem;">
      <h4 class="card-header">Card title</h4>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  
      <p class="h2" style="text-align: center;"> Serviços</p>
   
  

<div style="display: flex; flex-direction: row; text-align: center; padding: 2rem; justify-content: center;">
  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>


<p class="h2" style="text-align: center;">Equipe</p>

<div style="display: flex; flex-direction: row; text-align: center; padding: 2rem; justify-content: center;">

  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin: 1rem;">
    <h4 class="card-header">Card title</h4>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>

</div>

<div class="bg-light" style="padding: 1rem; justify-content: center;">
  <p style="text-align: center;">Copyright ©️ Núcleo Universitário de Telessaúde </p>
</div>

<router-outlet />
